<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/javascripts/tailwind_config.js"></script>
    {% if SITEGEN_ENV == "dev" %}
      {% autorefresh 8088 %}
    {% endif %}
    {% block script %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
  </head>
  <body class="font-serif text-lg container max-w-screen-lg mx-auto mt-20">
    <nav>
      <ul class="flex">
        <li><a href="/" class="mr-6" >about</a></li>
        <li><a href="/research" class="mr-6" >research</a></li>
        <li><a href="/misc" class="mr-6" >misc</a></li>
      </ul>
    </nav>  
    <div class="mt-16 px-8">
    {% block body %}{% endblock %}
    </div>
  </body>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{__globals__.google_tracker_id}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{__globals__.google_tracker_id}}');
  </script>
</html>
