{% extends "_base.html.jinja" %}

{% block body %}
<div>
  <div class="grid sm:grid-cols-4 grid-cols-2 gap-4">
    {% for photo in photos %}
    <img src="{{ photo['url'] }}" alt="{{ photo['name'] }}" class="sm:h-72 h-36 object-cover">
    {% endfor %}
  </div>
  <div class="mt-6">
  {% markdown %}
  {{ bio }}
  {% endmarkdown %}
  </div>
</div>
{% endblock %}